{% extends "layout.html" %}

{% block content %}
<div class="title">
<h1>Mentor Names</h1>
</div>

    <br>
    <br>
        <table align="center">
            <thead>
            <tr>
                <th>Mentor First Name</th>
                <th>Mentor Last Name</th>
            </tr>
            </thead>
            <tbody>
        {% for mentor_name in mentor_names %}
        <tr>
            <td>{{mentor_name.first_name}}</td>
            <td>{{mentor_name.last_name}}</td>
            </tr>
        {% endfor%}
            </tbody>
        </table>

    {% include 'footer.html' %}
{% endblock %}